# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
.env.*

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# Vite cache
frontend/.vite/

# Local certificates
frontend/*.pem
frontend/*-key.pem

# Backup files
*.backup.*
*.backup.jsx
